/bookmarks
/init.el~
/recentf
/recentf~
/elpa/archives/gnu/archive-contents
/elpa/archives/gnu/archive-contents.signed
/elpa/archives/melpa/archive-contents
/auto-save-list/.saves-29011-SanDisk~
/elpa/async-20161103.1036/async-autoloads.el
/elpa/gnupg/pubring.kbx~
/*.elc
/*/*.elc
/books/bookofcolours.el~
/books/bookofcsv.el~
/books/bookofnavigation.el~
/books/bookoforg.el~
/books/bookofsanedefaults.el~
/books/bookofutilities.el~
/books/bookofversioncontrol.el~
/books/bookofwriting.el~
/elpa/async-20161103.1036/async-bytecomp.el
/elpa/async-20161103.1036/async-bytecomp.elc
/README.org~
/auto-save-list/.saves-21739-SanDisk~
/books/bookofhydra.el~
/books/bookofsemantic.el~
/srecode-map.el
/.org-id-locations
/books/bookofbooks.el~
/cider-history
/%backup%~
/abbrev_defs
/auto-save-list/.saves-11333-amm~
/auto-save-list/.saves-1234-amm~
/auto-save-list/.saves-14432-amm~
/auto-save-list/.saves-15388-amm~
/*.el
/.cask/25.1/bootstrap/archives/gnu/archive-contents
/.cask/25.1/bootstrap/archives/gnu/archive-contents.signed
/.cask/25.1/bootstrap/archives/melpa/archive-contents
/.cask/25.1/bootstrap/commander-20140120.1052/commander-autoloads.el
/.cask/25.1/bootstrap/commander-20140120.1052/commander-pkg.el
/.cask/25.1/bootstrap/commander-20140120.1052/commander.el
/.cask/25.1/bootstrap/commander-20140120.1052/commander.elc
