/bookmarks
/books/bookofcolours.el
/init.el~
/recentf
/recentf~
/elpa/archives/gnu/archive-contents
/elpa/archives/gnu/archive-contents.signed
/elpa/archives/melpa/archive-contents
/auto-save-list/.saves-29011-SanDisk~
/elpa/async-20161103.1036/async-autoloads.el
/elpa/gnupg/pubring.kbx~
/*.elc
/books/bookofcolours.el~
/books/bookofcsv.el~
/books/bookofnavigation.el~
/books/bookoforg.el~
/books/bookofsanedefaults.el~
/books/bookofutilities.el~
/books/bookofversioncontrol.el~
/books/bookofwriting.el~
/elpa/async-20161103.1036/async-bytecomp.el
/elpa/async-20161103.1036/async-bytecomp.elc
/README.org~
